<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="TodoMapper">
	<select id="todoList" resultType="vo.TodoVO2">
		select id, content
		from todo2
	</select>
	<insert id="insertTodo" parameterType="String">
		insert into todo2(content)
		values(#{content})
	</insert>
	<delete id="deleteTodo">
		delete from todo2
		where id = #{id}
	</delete>
	<delete id="deleteAllTodo">
		delete from todo2
	</delete>
	<select id="size" resultType="int">
		select count(content)
		from todo2
	</select>
</mapper>